.DS_Store
.idea/
.vscode/

.gocache/
.gomodcache/

bin/
dist/
!/web/dist/
/vigil

node_modules/
coverage/
ui/node_modules/

vigil-data/
vigil-bench-data/
vigil-bench-data-failed-*/

web/dist/*
!web/dist/placeholder.txt
